// footer 2
#footer2
  .container
    .row
      .span12
        .copyright
          | !{__('icp')}
// up to top
a(href='#')
  i.go-top.hidden-phone.hidden-tablet.fa.fa-angle-double-up
// //end
script(src='/js/jquery.js')
script(src='http://apps.bdimg.com/libs/jquery.cookie/1.4.1/jquery.cookie.js')
script(src='/js/lang.js')
script(src='/js/bootstrap.min.js')
script(type='text/javascript', src='/js/jquery.themepunch.revolution.min.js')
script(type='text/javascript', src='/js/jquery.prettyPhoto.js')
script(type='text/javascript', src='/js/scripts.js')
