head
  meta(charset='utf-8')
  title seajetline
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='')
  meta(name='author', content='')
  link(href='/css/fonts.css', rel='stylesheet', type='text/css')
  //if IE
    link(href='http://fonts.useso.com/css?family=Lato', rel='stylesheet', type='text/css')
    link(href='http://fonts.useso.com/css?family=Lato:400', rel='stylesheet', type='text/css')
    link(href='http://fonts.useso.com/css?family=Lato:700', rel='stylesheet', type='text/css')
    link(href='http://fonts.useso.com/css?family=Lato:300', rel='stylesheet', type='text/css')
  link(href='/css/bootstrap.css', rel='stylesheet')
  link(href='/css/font-awesome.min.css', rel='stylesheet')
  link(href='/css/theme.css', rel='stylesheet')
  link(href='/css/prettyPhoto.css', rel='stylesheet', type='text/css')
  link(href='/css/zocial.css', rel='stylesheet', type='text/css')
  link(href='/css/settings.css', rel='stylesheet', type='text/css')
