doctype html
html(lang='en')
  include includes/head
  body
    include includes/header
    // banner
    #banner
      .container.intro_wrapper
        .inner_content
          h1 我们的团队
          h1.title 团队口号
          h1.intro
            | 崇尚的文化崇尚的文化崇尚的文化崇尚的文化崇尚的文化崇尚的文化崇尚的文化崇尚的文化崇尚的文化崇尚的文化。
            span.hue 这里是重点
    .container.wrapper
      .inner_content
        .pad30
        .row
          .span6
            p 这里写文化理念
          .span6
            p 这里写奋斗目标
          .clear
          .pad25
          .span4
            .team_sections.fadeindown
              img.th(alt='', src='img/team1.jpg')
              h5
                span Steve Jobs
              p
                small.muted.normal - Apple CEO - 
              p.team_bio "人生格言."
              hr.team-line
            .pad15
          .span4
            .team_sections.fadeindown
              img.th(alt='', src='img/team1.jpg')
              h5
                span Steve Jobs
              p
                small.muted.normal - Apple CEO - 
              p.team_bio "To live is to change the world.".
              hr.team-line
            .pad15
          .span4
            .team_sections.fadeindown
              img.th(alt='', src='img/team1.jpg')
              h5
                span Steve Jobs
              p
                small.muted.normal - Apple CEO - 
              p.team_bio "To live is to change the world.".
              hr.team-line
            .pad15
          .span4
            .team_sections.fadeindown
              img.th(alt='', src='img/team1.jpg')
              h5
                span Steve Jobs
              p
                small.muted.normal - Apple CEO - 
              p.team_bio "To live is to change the world.".
              hr.team-line
            .pad15
          .span4
            .team_sections.fadeindown
              img.th(alt='', src='img/team1.jpg')
              h5
                span Steve Jobs
              p
                small.muted.normal - Apple CEO - 
              p.team_bio "To live is to change the world.".
              hr.team-line
            .pad15
    // //page
    // footer 2
    include includes/footer
    script.
      $('#about').addClass('active');
    
